@use 'tailwindcss';
@use './GameBoard.module.scss';

.alert {
  position: absolute;
  top: 120px; /* Weiter unterhalb der Überschrift */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
